<div class="mainpage">
  <div>
    <div class='headerContainer'>
      <div class="header">
        HEllo World,
        <div class="messageText">
          <span>
            THis is hiTe<u><span class="s">s</span></u><span class="c">c</span>H KothArI
          </span>
        </div>
      </div>
    </div>
    <div class='headerContainer'>
      <div class="info">
        HEllo World,
        <div class="messageText">
          <span>
            I'm going to be Full Stack Developer, write now Front End Developer :)<br>

          </span>
        </div>
      </div>
    </div>


    <div class="animationZone" id='animation'>
      <router-outlet></router-outlet>

      <div class="animationControl">
        <div class="bottomBars">
          <div class="timingBottomBar">
            <button *ngFor="let time of timing" (click)="setTime(time)" class="timing">
              <!-- style="background-image: url('{{time.imageUrl}}');"> -->
              <img [src]="time.imageUrl">
              {{time.name}}
            </button>
          </div>

          <div class="seasonBottomBar">
            <button *ngFor="let themeButton of themes" (click)="loadTheme(themeButton,'animation')" class="seasons">
              <!-- style="background-image: url('{{themeButton.imageUrl}}');"> -->
              <img [src]="themeButton.imageUrl">
              {{themeButton.name}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footerFill">
    <div>
      <h4>DESIGN AND DEVELOPED BY ME.</h4>
      SVG grahics - Undraw.io<br>
      <!-- SSG - Scully For Angular<br> -->
      <!-- BackGround Images to add -->
      <a [routerLink]="['/Make']" fragment='animation'> Make a coffeee for me.</a>
    </div>
  </footer>
</div>
