<div class="mainpage">

  <div class='headerContainer'>
    <div class="coffeeContent">
      <h3>
        Make a Coffee
      </h3>
      <h4>
        Random Spin to make Coffee
      </h4>
      <div class="messageText">
        <div class="gsap" (click)="rotate()">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="300px"
            height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300">

            <g _ngcontent-udg-c21="" id="circle" data-svg-origin="0"
              transform="matrix(-0.88784,-0.46015,0.46015,-0.88784,725.20194,476.56357)"
              style="transform-origin: 0px 0px; touch-action: none; user-select: none;">
              <g _ngcontent-udg-c21="" id="g833" transform="translate(517.04664,-122.80197)">
                <circle _ngcontent-udg-c21="" stroke-miterlimit="10" cx="150" cy="149.89999" r="80.348999"
                  id="circle831" style="fill:#ff3d00;stroke:#000000;stroke-miterlimit:10" />
              </g>
              <text _ngcontent-udg-c21="" font-size="12" id="text835" x="645.59143" y="31.944748"
                style="font-size:12px;font-family:MyriadPro-Regular">cLIcK</text>
              <circle _ngcontent-udg-c21="" cx="725.43353" cy="30.733685" r="10.48" id="circle837"
                style="fill:#ddeab0" />
            </g>
          </svg>
        </div>

      </div>
    </div>
  </div>



  <!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" width="600px" height="300px" viewBox="0 0 600 300" enable-background="new 0 0 300 300" xml:space="preserve">
    <g id="circle">
      <g>
        <circle fill="#88ce02" stroke="#000000" stroke-miterlimit="10" cx="420.681" cy="149.9" r="80.349" />
      </g>
      <text transform="matrix(1 0 0 1 400.2934 153.4218)" font-family="'MyriadPro-Regular'" font-size="12">spin
        me</text>
        <circle fill="#DDEAB0" cx="484.594" cy="149.9" r="10.48" />
      </g>

    </svg> -->
  <!-- <?xml version="1.0" encoding="UTF-8" standalone="no"?> -->
  <!-- <text _ngcontent-udg-c21="" font-size="12" id="text835" x="645.59143" y="31.944748"
    style="font-size:12px;font-family:MyriadPro-Regular"></text> -->

</div>
